
.card{
    width: 10rem;
    background-color: aliceblue;
   
}
.btn-linck{
    color: aliceblue;
   
}
.card-padre{
   
    padding:16px;
    margin-left: 16px;
    text-align: center;
    
    
    background-color: rgba(128, 128, 127, 0.959);

}